Break:
Break statement will exit from the loop.

In [4]:
numbers =[1,2,3,40, 100, 50, 250, 20]
for i in numbers:
    if i >=100:
        continue
        #break
    print(i)

1
2
3
40
50
20

#continue statement:
It skips that particular iteration/condition given.

In [7]:
for letter in 'pwskills':
    
    if letter ==i:
        continue
    print(letter)

p
w
s
k
i
l
l
s

"""Pass statement:
During development stage you cannot keep some syntax empty.
To avoid getting an error we use pass statement."""

In [8]:
n= 10
if n>10:
    pass
print("hello")

hello

In [9]:
n>45
pass

Functions: block of code. we can make use of tha function

In [10]:
def my_function(a,b):
    return a+b

In [11]:
my_function(3,4)

7

In [ ]:
def function_name(a,b # arguments):
    #body 
    return

In [12]:
def greet():
    return "Hello world"

In [13]:
greet()

'Hello world'

In [14]:
def greet(name):
    print("hi", name)

Return statement:

In [18]:
# Return stores the value in a variable. That variable can be later used anywhere in the program.
def my_function(a,b):
    c = a+b
    return c

In [20]:
x = my_function(4,5)

In [21]:
x

9

In [ ]:
*agrs and **kargs
A function can accept n numbers of arguments.
** means you have to passa key word

In [5]:
def add_num(*numbers):
    result=0
    for num in numbers:
        
        result = result+num
    print("sum", result)

In [6]:
add_num(1,2,2,3,3,55)

sum 66

In [7]:
def intro(**data):
    for k,v in data.items():
        print(k,v)

In [8]:
intro(name ='Neha', city ="Hyd")

name Neha
city Hyd

In [11]:
def simple(**x):
    print(x)

In [10]:
simple(name = 'Neha', city = "Hyd")

{'name': 'Neha', 'city': 'Hyd'}

In [ ]:
for key, value in x.items():
    print(key,value)

Lambda functions:

In [ ]:
lambda arguments:expression

In [12]:
x = lambda:print("hello!")

In [13]:
x()

hello!

In [14]:
add = lambda a,b:a+b

In [15]:
add(2,4)

6

In [16]:
even_odd = lambda n: "True" if n%2==0 else "False"

In [17]:
even_odd(2)

'True'

In [ ]:
Enumerate(k,v)